<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Symfony 5 and VueJs 3"/>
        <meta name="author" content="Simon Chabrier" />
        <meta name="copyright" content="Simon Chabrier" />
        <meta property="MyDevTools" content="Symfony and Vue Js 3 starter kit" />
        
        <title>{% block title %}Base Template{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('assets/favicon.png') }}" type="image/x-icon">
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('assets/styles/reset.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/styles/style.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
    
            <div id="app">
                {# L'appli Vue.js vie ici #}
            </div>

        {% endblock %}
    </body>
</html>
